// COLOR ==================================================

$primary-color: #D23166;

$primary-color-2: #D64374;
$pink-color: #FBF0F4;
$light-pink-color: #F8EDF0;

$black: #000;
$dark-color: #0F0101;
$dark-color-2: #0A0808;

$white: #fff;
$light-color: #FAFAFA;

// WIDTH ==================================================

$fullWidth               : 1440px;
$desktopWidth            : 1115px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;


// FONTS ==================================================

$default-font: 'Roboto';
$primary-font: 'HindMadurai';
$title-font: 'FredokaOne';
$icomoon: 'icomoon';